.box{
    border:1px solid black;
    height:200px;
    width:150px;
    background-image: linear-gradient(red,blue);
    background-image: linear-gradient(to right ,red,blue);
    background-image: linear-gradient(to bottom right ,red,blue);
    
}
.mydiv{
    border:1px solid black;
    margin:10px;
    height:400px;
    width:100px;
    background-image: radial-gradient(circle,red,blue,orange);
    background-image: radial-gradient(yellow 5%,orange 10%,red 50%,blue 60%);
}
.learn{
    border:1px solid black;
    height:200px;
    width:200px;
    margin:15px;
    background-image: conic-gradient(pink 50deg,green 76deg,brown 40deg);
}