p{
    position: static;
}
 div{
    width:200px;
    height:200px;
    background-color: aqua;
    border:1px solid black;
    display: inline-block;
}
#box3{
    position:relative;
    top:100px;
    left:50px;
} 

#box4{
    position:sticky;
    top:0px;

}
.wrapper{
    width:100vw;
    height: 2000px;
    background-color: yellow;

}
